.admin-container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.centered {
    text-align: center;
    margin: 20px 0;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-label {
    font-weight: bold;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #000000;
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-danger{
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning{
    background-color: #ffc107;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #e0a800;
}