a {
    text-decoration: none;
}

* {
    overflow-x: hidden;
}

.heading {
    width: 40%;
    font-family: 'Montserrat';
}

.heading2 {

    overflow-y: hidden;
    position: absolute;
    width: 854px;
    height: 314px;
    left: 154px;
    top: 270px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    overflow-y: hidden;
    text-align: center;
}
.bg-dark{
    background-color: black;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg {
    background-color: #f8d7d7;
}

.avatar {
    position: absolute;
    width: 1151px;
    height: 735px;
    left: 238px;
    top: 88px;

}

.cardStyle1 {
    background-color: #f8d7d7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

h4 {
    overflow-y: hidden;
}

h1 {
    overflow-y: hidden;
}
