a {
    text-decoration: none;
}

* {
    overflow-x: hidden;
    
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 38px;
    border: none;
    outline: none;
   
    color: #192397;
    cursor: pointer;
    padding: 5px;
    
    transition-duration: 0.4s;
}
.top-button:hover {
    
    color: #4c0b5f;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    transform: translateY(-5px);
}

.heading {
    width: 40%;
    font-family: 'Montserrat';
}

.heading2 {

    overflow-y: hidden;
    position: absolute;
    width: 854px;
    height: 314px;
    left: 154px;
    top: 270px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    overflow-y: hidden;
    text-align: center;
}
.bg-dark{
    background-color: black;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button{
    background-color: #ace6e7;
    border-radius: 10px;
   
    height: 50px;
    font-family: 'Montserrat';
    /* font-weight: 700; */
    /* font-size: 24px;
    line-height: 29px; */
    text-align: center;
    color: #000000;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    overflow-y: hidden;
}

.button:hover{
    color: #092154;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
}

.bg {
    background-color: #ace6e7;
}

.avatar {
    position: absolute;
    width: 1151px;
    height: 735px;
    left: 238px;
    top: 88px;

}

h2 {
    overflow-y: hidden;
    font-size: larger;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    backdrop-filter: blur(8px);
    color: rgb(255, 255, 255);
    font-weight: 800;
}

h1{
    overflow-y: hidden;
}
h4 {
    overflow-y: hidden;
    backdrop-filter: blur(8px);
    font-family: 'Montserrat';
}
h5 ,p{
    overflow-y: hidden;
    backdrop-filter: blur(8px);
    font-family: 'Montserrat';
}


.Link{
    text-decoration: none;
    font-family: 'Montserrat';
    color: #15204b;
    
}
.Link:hover{
    color: #120954;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
}
.notice-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Optional: Add border to separate notices */
  padding: 10px; /* Optional: Add padding for better spacing */
}

.notice-content {
  flex: 1;
}

.notice-image {
  max-width: 100px; /* Adjust as needed */
  margin-top: 10px;
}

.notice-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notice-button {
  margin-left: 20px; /* Optional: Adjust the margin for spacing */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust based on your needs */
}



