a {
    text-decoration: none;
}

* {
    overflow-x: hidden;
    
}

.heading {
    width: 40%;
    font-family: 'Montserrat';
}

.heading2 {

    overflow-y: hidden;
    position: absolute;
    width: 854px;
    height: 314px;
    left: 154px;
    top: 270px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    overflow-y: hidden;
    text-align: center;
}
.bg-dark{
    background-color: black;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button{
    background-color: #f2dddd;
    border-radius: 10px;
   
    height: 50px;
    font-family: 'Montserrat';
    /* font-weight: 700; */
    /* font-size: 24px;
    line-height: 29px; */
    text-align: center;
    color: #000000;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
    overflow-y: hidden;
}

.button:hover{
    color: #540909;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
}

.bg {
    background-color: #f2dddd;
}

.avatar {
    position: absolute;
    width: 1151px;
    height: 735px;
    left: 238px;
    top: 88px;

}

h2 {
    overflow-y: hidden;
    font-size: larger;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    backdrop-filter: blur(8px);
    color: rgb(255, 255, 255);
    font-weight: 800;
}

h1{
    overflow-y: hidden;
}
h4 {
    overflow-y: hidden;
    backdrop-filter: blur(8px);
    font-family: 'Montserrat';
}
h5 ,p{
    overflow-y: hidden;
    backdrop-filter: blur(8px);
    font-family: 'Montserrat';
}


.Link{
    text-decoration: none;
    font-family: 'Montserrat';
    color: #4b1515;
    
}
.Link:hover{
    color: #540909;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
}