.records-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.records-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #001a36;
  color: white;
  text-transform: uppercase;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e9e9e9;
}

.heading{
    font-size: x-large;
    font-weight: 700;
}

.canvas{
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}
