a {
    text-decoration: none;
}

* {
    overflow-x: hidden;
}

.heading{
    width: 40%;
    font-family: 'Montserrat';
}

.heading2 {

    overflow-y: hidden;
    position: absolute;
    width: 854px;
    height: 314px;
    left: 154px;
    top: 270px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.header {
    overflow-y: hidden;
    text-align: center;
}


.bg {
    background-color: #F7CCCC;
}

.avatar {
    position: absolute;
    width: 1151px;
    height: 735px;
    left: 238px;
    top: 88px;

}

h4 {
    overflow-y: hidden;
}

h1 {
    overflow-y: hidden;
}