.footer {
  position: relative;
  width: 100%;
  background: #77C9DB;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -8px;
}

.socials {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
.socialsli {
  font-size: 2em;
  margin: 0 10px;
  color: #353dcf;
  display: inline-block;
  transition: transform 1s;
}


.socialsli:hover {
  color: #000d85;
  transform: translateY(-13px) scale(1.1);
  cursor: pointer;
}

.wave{
  background-color: #ace6e7;
}

@media screen and (max-width: 600px) {
  .footer{
    padding: 0;
  }
  .socials {
    /* grid-template-columns: repeat(5 , 5fr); */
    flex-wrap: wrap;
    border: none;
    
  }
  .socialsli{
    font-size: 180%;
    padding-left: 0;
    padding-right: 0;
  }
  
}

