.card {
  
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(185, 236, 219);
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(139, 222, 208);
  transition: 0.3s;
  cursor: pointer;
  
}
